{
  "arrowParens": "always",
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "strict",
  "jsxBracketSameLine": false,
  "parser": "typescript",
  "printWidth": 100,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.js"
}
