@font-face {
  font-family: "Graphik";
  font-weight: 400;
  src: url("https://www.monarchmoney.com/fonts/Graphik-Regular-Web.woff2") format("woff2");
}

@font-face {
  font-family: "Graphik";
  font-weight: 600;
  src: url("https://www.monarchmoney.com/fonts/Graphik-Medium-Web.woff2") format("woff2");
}

@font-face {
  font-family: "Graphik";
  font-weight: 700;
  src: url("https://www.monarchmoney.com/fonts/Graphik-Bold-Web.woff2") format("woff2");
}